:root {
  --good: #00d061;
  --bad: #ff97a0;
}

html, body {
  margin: 0;
  padding: 0;

  background: #202428;
  color: #f0f4f8;

  font-family: sans-serif;

  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
}

#sidebar {
  position: fixed;

  width: 20vw;
  min-width: 240px;
  height: 100%;
  background: #101418;

  padding: 2vw 1vw;
}

#sidebar h1 {
  font-weight: 800;
  font-size: 2vw;
  margin-top: 0;
}

#sidebar h2 {
  font-weight: 500;
  font-size: 1vw;
}

#sidebar footer {
  position: absolute;
  bottom: 2vw;

  color: #a0a4a8;
  font-size: 0.8vw;

  line-height: 1.6em;
}

a {
  color: #c2a2df;
  text-decoration: none;
}

a:visited {
  color: #a272ce;
}

#sidebar hr {
  border-color: #808488;
  margin-bottom: 2vw;
}

#sidebar > a {
  font-weight: 700;
  font-size: 1.4vw;
  display: block;
  margin-bottom: 20px;
}


#content {
  padding: 2vh 2vw;
  margin-left: max(20vw, 360px);

  height: fit-content;
  width: 100%;
  margin-bottom: 4vh;
}

#content h1 {
  font-size: 2vw;
  font-weight: 700;
}

[class^="icon-"] {
  --size: var(--icon-size, 1.4rem);
  background: #f0f4f8;
  display: inline-block;
  height: var(--size);
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  vertical-align: middle;
  width: var(--size);
}

.icon-none {
  display: none;
}

.icon-yes {
  -webkit-mask-image: url(/yes.svg);
  mask-image: url(/yes.svg);
}

.icon-no, .icon-disabled {
  -webkit-mask-image: url(/no.svg);
  mask-image: url(/no.svg);

  background: var(--bad);
}

.icon-disabled {
  background: #f0f4f8;
}

.icon-chrome {
  -webkit-mask-image: url(/chrome.svg);
  mask-image: url(/chrome.svg);
}

.icon-firefox {
  -webkit-mask-image: url(/firefox.svg);
  mask-image: url(/firefox.svg);
}

.icon-safari {
  -webkit-mask-image: url(/safari.svg);
  mask-image: url(/safari.svg);
}

.icon-unknown {
  -webkit-mask-image: url(/unknown.svg);
  mask-image: url(/unknown.svg);
}

.icon-bug {
  -webkit-mask-image: url(/bug.svg);
  mask-image: url(/bug.svg);
}

.icon-patch {
  -webkit-mask-image: url(/patch.svg);
  mask-image: url(/patch.svg);
}

td, th {
  border-left: 1px solid #808488;
  border-bottom: 1px solid #808488;

  width: 6vw;
}

th {
  vertical-align: bottom;
  text-align: center;
}

table {
  border: 1px solid #808488;
  border-collapse: separate;
  border-spacing: 0;

  width: max(40vw, 500px);
}

table > thead th > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6vw;
  font-weight: 600;

  gap: 4px;
  padding: 12px;

  --icon-size: 2vw;
}

tbody th {
  font-family: monospace;
  font-size: 1vw;
  font-weight: 500;
  padding: 12px;

  vertical-align: middle;
  text-align: left;
  width: 45%;
}

tbody td > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-weight: 500;

  gap: 6px;
  padding: 12px;
}

th.sub {
  border-left-width: 8px;
}

table + h1 {
  margin-top: 60px;
  padding-top: 2vh;
}

.stats {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  width: fit-content;

  height: 26px;
}

.stats span {
  width: 6rem;
  font-size: 15px;
  vertical-align: middle;
  --icon-size: 24px;
}

.stats > div {
  margin-top: 2px;
  height: 22px;
  width: calc(40vw - 6rem);

  display: flex;
}

.stats > div > div {
  height: 100%;
  padding-left: 4px;
  text-transform: capitalize;
  font-size: 15px;
  line-height: 20px;
  overflow: hidden;
}

.stats .stat-yes {
  background: #0b994d;
}

.stats .stat-patch {
  background: #7d36be;
}

.stats .stat-stub, .stats .stat-unknown, .stats .stat-disabled {
  background: #808488;
}

.stats .stat-no, .stats .stat-bug {
  background: #e63a48;
}

.stats + table {
  margin-top: 20px;
}


footer .stats > span {
  width: 32px;
}

footer .stats > span > span {
  display: none;
}

footer .stats > div > div {
  font-size: 0;
}

footer .stats > div {
  width: calc(max(20vw, 240px) - 32px - 2vw);
}

footer .stats:nth-last-child(2) {
  margin-bottom: 2vw;
}

/* .stats.chrome + .stats.firefox, .stats.firefox + .stats.safari {
  border-top: 1px solid #808488;
  margin-top: 8px;
  padding-top: 8px;
} */